@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';

@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../../node_modules/flowbite";
@source "../../node_modules/flowbite-datepicker";


@source "../views";
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';

@custom-variant dark (&:where(.dark, .dark *));



@theme {
    --font-sans: Work Sans, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-serif: Inter, ui-sans-serif, serif;

    --color-white: #ffffff; /*for some backgrounds, cards, headings and major text in dark mode*/
    --color-light-brown: #854B10; /*for light brown buttons and some headings in light mode*/
    --color-soft-gray: #e5e8eb; /*for nav bar partition and borders*/
    --color-mild-gray: #B0A6A6; /*for minor text in dark mode*/
    --color-warm-gray: #332E2E; /*for grey buttons in dark mode*/
    --color-dark-background: #171717; /*background color for dark mode, and text color in light mode*/
    --color-coffee-brown: #4A2924; /*dark brown for some buttons and some button text in light mode*/
    --color-light-gray: #F5F2F0; /*for grey buttons in light mode*/
    --color-brown: #47301f; /*for brown subtext in the light mode*/
    --color-soft-brown: #8F6E56; /*for icons and card headings*/
    --color-cream-brown: #D3BEAC; /*for column graph bars*/    
    --color-light-background: #EDECEC; /*  for body background in light mode */
    --color-pale-brown: #EFEBE7; /*for some card item backgrounds*/
    --color-dashboard-text-light: #ECE6DF;
    --color-dashboard-light: #47301F;
    --color-hover-brown: #5A3D29;
    --color-off-white: #F1ECE7; /*for grid lines on graphs*/
    --color-status-text-red: #991B1B;
    --color-status-background-red: #FEE2E2;
    --color-status-text-green: #166534;
    --color-status-background-green: #DCFCE7;
    --color-status-text-orange: #92400E;
    --color-status-background-orange: #FEF3C7;
    --color-status-text-blue: #1E40AF;
    --color-status-background-blue: #D8EAFE;
    --color-status-text-gray: #1F2937;
    --color-status-background-gray: #F3F4F6;
    --color-status-text-purple: #5521B5;
    --color-status-background-purple: #EDEBFE;
    --color-progress-bar-green: #22C55E;
    --color-progress-bar-orange: #F59E08;
    --color-progress-bar-red: #EF4444;

}

@layer theme {
    .dark {
        --color-accent: var(--color-white);
        --color-accent-content: var(--color-white);
        --color-accent-foreground: var(--color-neutral-800);
    }
}

@layer base {

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }

    h1, h2, h3, h4, h5, h6{
        font-family: theme('fontFamily.sans');
    }
}

[data-flux-field] {
    @apply grid gap-2;
}

[data-flux-label] {
    @apply  !mb-0 !leading-tight;
}
body {
    @apply bg-light-background;
}
input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    @apply outline-hidden ring-2 ring-accent ring-offset-2 ring-offset-accent-foreground;
}

/* \[:where(&)\]:size-4 {
    @apply size-4;
} */
.btn{
    @apply text-white bg-coffee-brown hover:bg-brown focus:outline-none focus:ring-4 focus:ring-coffee-brown font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:focus:ring-coffee-brown
}

/* Remove number input spinners */
input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Clean input style */
.clean-input {
    @apply w-full px-3 py-2 border border-gray-300 rounded-md;
    @apply focus:outline-none focus:ring-1 focus:ring-blue-500 focus:border-blue-500;
    @apply placeholder-gray-400;
    @apply transition duration-150 ease-in-out;
}

