@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';

@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../../node_modules/flowbite";
@source "../../node_modules/flowbite-datepicker";


@source "../views";
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: Roboto Slab, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-serif: Work Sans, ui-sans-serif, serif;

    --color-white: #ffffff; /*for some backgrounds, cards, headings and major text in dark mode*/
    --color-light-brown: #854B10; /*for light brown buttons and some headings in light mode*/
    --color-soft-gray: #e5e8eb; /*for nav bar partition and borders*/
    --color-mild-gray: #B0A6A6; /*for minor text in dark mode*/
    --color-warm-gray: #332E2E; /*for grey buttons in dark mode*/
    --color-dark-background: #171717; /*background color for dark mode, and text color in light mode*/
    --color-coffee-brown: #4A2924; /*dark brown for some buttons and some button text in light mode*/
    --color-light-gray: #F5F2F0; /*for grey buttons in light mode*/
    --color-brown: #47301f; /*for brown subtext in the light mode*/

  

}

@layer theme {
    .dark {
        --color-accent: var(--color-white);
        --color-accent-content: var(--color-white);
        --color-accent-foreground: var(--color-neutral-800);
    }
}

@layer base {

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }

    h1, h2, h3, h4, h5, h6{
        font-family: theme('fontFamily.sans');
    }
}

[data-flux-field] {
    @apply grid gap-2;
}

[data-flux-label] {
    @apply  !mb-0 !leading-tight;
}

input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    @apply outline-hidden ring-2 ring-accent ring-offset-2 ring-offset-accent-foreground;
}

/* \[:where(&)\]:size-4 {
    @apply size-4;
} */
